doctype html
html
  head
    meta(charset='utf-8')
    meta(author='David Roma')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='description', content='Single page web application with Nodejs, Expressjs, Backbonejs and Requirejs')

    title= 'Node, Express, Backbone and Require web app'

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600')
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome-4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/normalize/normalize.css')
    link(rel='stylesheet', href='css/index.css')

  body
    #nav
      .container
        a(href="/home") Home
        a(href="/about") About
        a(href="/contact") Contact
        a(href="/ping") Ping
    script(data-main='scripts/main', src='scripts/libs/require.js')
